# Obsidian
.obsidian/
.obsidian.json
.trash/
.inbox/

# Plugins
.smart-connections/
.smart-env/
Excalidraw/

# Dados e backups
data/
_backup/
*.bak

# Arquivos grandes (mover para armazenamento externo)
*.zip
*.mp3
*.mp4
*.mov
*.avi
*.pdf
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.mp2

# Banco de dados
*.db
*.db-journal

# Sistemas
.DS_Store
Thumbs.db

# Temporários e pastas vazias
 Untitled/
Evernote/

